<h1>フィードの登録を行えます</h1>
<p>フィードのurlをテキストボックスに入れてください<br>
サイトのURLではございません<br>
このツール使いなよ：http://rss.tc/feed/Find.aspx
</p>

<form action="new" method="post">
	<input type="text" name="feedurl">
	<button type="submit">おくる</button>
</button>
